services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5435:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - "6379:6379"

#  api:
#    build:
#      context: .
#      dockerfile: deploy/Dockerfile.dev
#    environment:
#      DATABASE_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?sslmode=disable
#      REDIS_URL: redis://redis:6379/0
#      PORT: ${PORT}
#    ports:
#      - "${PORT}:${PORT}"
#    volumes:
#      - .:/app
#    depends_on:
#      - postgres
#      - redis

  web:
    build:
      context: ./web
      dockerfile: Dockerfile
    environment:
      NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL}
    ports:
      - "3000:3000"
    depends_on:
      - api

volumes:
  pgdata:
